<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976968409922-o2ghkblqh8ufsoq9ofe41r16s518sdtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976968409922-o2ghkblqh8ufsoq9ofe41r16s518sdtj</string>
	<key>API_KEY</key>
	<string>AIzaSyBi-RsRV6fAWc_dZrKpmMnJK_63FDx0_Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>976968409922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vinicius.ios.WhatsApp-Clone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-f0f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-f0f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976968409922:ios:dea5193e467a98f1</string>
	<key>DATABASE_URL</key>
	<string>https://whatsapp-clone-f0f0f.firebaseio.com</string>
</dict>
</plist>